.content {
  display: flex;
  flex-wrap: wrap;
}
.burger {
  position: absolute;
  font-size: 2.5em;
}
.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}
@media screen and (max-width: 549px) {
  .nav {
   width: 300px;
   height: 100%;
   position:absolute;
   -webkit-transform: translate(-300px, 0);
   transform: translate(-300px, 0);
   transition: transform 0.3s ease;
  }
  .nav.open {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
  .burger {
    display: inline-block;
    right: 10px;
    top: 10px;

  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: left;
  }
}
@media screen and (min-width: 550px) {
  .hero {
    width: 50%;
    order: 0;
  }
  .weather {
    width: 50%;
    order: 1;
  }
  .burger {
    transform: translate(-800px, 0);
  }
}
@media screen and (min-width: 750px) {
  .hero {
    width: 60%;
    order: 0;
  }
  .top-news {
    width: 40%;
    order: 1;
  }
  .weather {
    width: 30%;
    order: 4;
  }
  .scores {
    width: 70%;
    order: 3;
  }
}
@media screen and (min-width: 950px) {
  .content, .nav, .header__inner, main {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    width: 100%;
  }
}
